@font-face {
    font-family: 'Instrument Serif';
    src: url('../src/fonts/InstrumentSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Instrument Serif';
    src: url('../src/fonts/InstrumentSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../src/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../src/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/* 游댲 SCROLL */

::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores Webkit (Chrome, Safari) */
}

@media screen and (max-width: 768px) {
  .breathing-experience {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Para otros navegadores */
  }
}

html {
    scrollbar-width: none; /*Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none; /*Oculta la barra de desplazamiento en IE/Edge */
}

/* 游댲 VARIABLES CSS */

:root {
    --color-1: #777E79;
    --color-2: #D4D8D0;
    --color-3: #F9F5F0;
}

* {
    box-sizing: border-box;
}

/* 游댲 TIPOGRAF칈A GLOBAL */

h1, h2, h3 {
    font-weight: normal;
    font-family: 'Instrument Serif', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    h2 {
        font-size: 3rem;
    }
}


/* 游댲 ESTILOS GENERALES */

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    background-color: var(--color-3);
}


.solo-movil {
    display: none; /* Por defecto, no se muestra */
}
  

@media (max-width: 1024px) {
    .solo-movil {
        display: block; /* Visible en m칩viles */
        font-size: 0.8rem;
        color: var(--color-2);
    }
}

/* 游댲 SECCI칍N - EXPERIENCIA DE RESPIRACI칍N */

.breathing-experience {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.instruction {
    position: absolute;
    top: 2%;

    h1 {
        color: var(--color-2);
        margin-bottom: 0;
    }

    .section-content {
        color: var(--color-2);
        margin-top: 1rem;
        opacity: 1;
        transition: opacity 1s ease-out;
    }
}

.main-circle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 70%;
    left: 50%;

    
    width: 50vw;
    height: 50vw;
    
    background-color: var(--color-2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 99;
}
.main-circle .counter {
    font-size: 4rem;
    color: var(--color-3);
    font-family: 'Inter', sans-serif;
    font-weight: 200 ;
}

.expanding-circle {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50vw;
    height: 50vw;
    background-color: rgba(212, 216, 208, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 5;
}

@media (min-width: 1024px) {
    .main-circle {
        top: 65%;
       
        width: 15vw;
        height: 15vw;
    }
    
    .expanding-circle {
        top: 65%;
    
        width: 15vw;
        height: 15vw;
    }  
}

/* 游댲 BOT칍N FIJO PARA ACCEDER A LA EXPERIENCIA DE RESPIRACI칍N */

.scrolltelling-btn {
    position: fixed;
    top: 10px;
    right: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace el bot칩n redondo */

    background-color: var(--color-1);
    text-decoration: none; /* Elimina subrayado */
    z-index: 999999;

    /* Transici칩n para el crecimiento */
    transition: transform 1.5s ease;
    cursor: pointer;
}

.scrolltelling-btn span {
    color: var(--color-3);
    font-size: 20px;
    font-family: 'Instrument Serif', sans-serif;
    font-weight: 200;

    /* Transici칩n para la opacidad del texto */
    transition: opacity 0.1s ease;
}

.scrolltelling-btn:hover {
    transform: scale(1.1);
}

.scrolltelling-btn.clicked {
    transform: scale(100); /* Crecimiento del c칤rculo */
}

.scrolltelling-btn.clicked span {
    opacity: 0; /* Desvanece el texto */
}

/* 游댲 CRUZ DE CIERRE PARA VOLVER A LA EXPERIENCIA DE RELAJACI칍N */

.close-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
}

.close-icon .leftright,
.close-icon .rightleft {
    height: 3px;
    width: 40px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--color-1);
    transition: all .3s ease-in;
}

.close-icon .leftright {
    transform: rotate(45deg);
}
    
.close-icon .rightleft {
    transform: rotate(-45deg);
}


.close-icon:hover .leftright {
    transform: rotate(-45deg);
}

.close-icon:hover .rightleft {
    transform: rotate(45deg);
}

@media (min-width: 768px) {
    .close-icon {
        top: 20px;
        right: 20px;
    }

    .close-icon .leftright,
    .close-icon .rightleft {
        height: 4px;
        width: 50px;
    }
}

/*游댲INDICADOR FIXED DE LAS SECCIONES*/

.sticky-text {
    position: fixed;
    top: 94%;
    left: 10%;
    
    transform: rotate(0deg);
    transform-origin: left center;

    font-family: 'Instrument Serif', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--color-2);

    z-index: 100;
}

@media (min-width: 768px) {
    .sticky-text {
        left: 4%;
        
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .sticky-text {
        top: 40%;
        left: 1.8%;
        
        transform: rotate(90deg);
    }
}


/* 游댲 ESTILOS SECCIONES GENERALES */

.section {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 100vh;
    max-width: 100vw;

    background-color: var(--color-3);
    color: var(--color-1);

    padding: 1.5rem 2rem;

    overflow: hidden;

    z-index: 1;
}

.section-content {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .section-content {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .section {
        padding: 0 3.8rem;
    }
    
    .section-content {
        font-size: 2rem;
    }
}

#smooth-wrapper {
    overflow: hidden;
    height: 100vh;
  }
  
  #smooth-content {
    will-change: transform;
  }

/* 游댲 00 - WELCOME SECTION */

.welcome-screen {
    align-items: center;
    justify-content: center;

    background-color: var(--color-1);
    color: var(--color-3);
}

.fade-in-title {
    opacity: 0; /* Comienza invisible */
    transition: opacity 2s ease; /* Suaviza la transici칩n */
}
.fade-in-title.visible {
    opacity: 1; /* Hace visible el t칤tulo */
}

.line {
    position: absolute;
    display: block;
    width: 1px;
    height: 0px;
    background-color: var(--color-3);
    top: 58vh;
}

@media (min-width: 768px) {
    .line {
        width: 2px;
    }
} 

/*游댲 01 - RECONOCIMEINTO DE LA EXPERIENCIA */

.uno {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.uno p {
    width: 80vw;
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    .uno p {
        width: 60vw;
    }
} 


/*游댲 02 - RECONOCIMEINTO DE LA EXPERIENCIA */

.dos .section-content {
    width: 80vw;
    z-index: 2;
}

.dos svg {
    position: absolute;
    right: -50%;
    top: 60%;
    opacity: 0.3; /* Baja opacidad */
    width: 140vw;
    height: auto;
    z-index: 1;
}

@media (min-width: 768px) {
    .dos svg {
        top: 40%;
    }
}

@media (min-width: 1024px) {
    .dos .section-content {
        width: 60vw;
    }

    .dos svg {
        right: -10%;
        top: 20%;
        width: 70vw;
    }
}

/*游댲03 - CARRUSEL HORIZONTAL DE S칈NTOMAS*/

.tres .section-content {
    padding-bottom: 10px;
}

.carousel-wrap {
    width: 100vw;
    overflow: hidden;
    margin-left: 0;
    margin-top: 1rem;
}

.carousel {
    display: flex;
    gap: 0.8rem;

    overflow-x: visible;  
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
}

.carousel-item {
    cursor: none;
    
    position: relative;
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 70vw;
    height: 55vh;

    border: 1px solid var(--color-2);
    background-color: var(--color-3);
    color: var(--color-1);
    padding: 0 1.2rem;

    transition: all 0.4s ease-in;
}

.item-subtitle {
    font-size: 1rem;
}

.item-description {
    display: none; /* La descripci칩n est치 oculta por defecto*/
    opacity: 0;
    transform: translateY(20px); 
    transition: all 0.3s ease-out;
}

.carousel-item.active {
    color: var(--color-1);
    background-color: var(--color-2);
}

.carousel-item.active .item-title,
.carousel-item.active .item-subtitle{
    opacity: 0;
}

.carousel-item.active .item-description {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Deslizo hacia arriba */
}

.carousel-item .circle-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 30px;
    height: 30px;
    background-color: var(--color-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-3);
    font-size: 20px;
    opacity: 0;
    pointer-events: none; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.inner-text {
    font-size: 20px; /* Tama침o del texto */
    transform: translateY(-10px); /* Mover solo el texto hacia arriba */
    transition: transform 0.3s ease; /* Transici칩n suave */
}

@media (min-width: 768px) {
    .tres .section-content {
        padding-bottom: 25px;
    }
   
    .carousel {
        gap: 1rem;
    }

    .carousel-item {
        width: 42vw;
        height: 62vh;
        padding: 2rem;
    }

    .item-subtitle {
        font-size: 1.3rem;
    }
}


@media (min-width: 1024px) {
    .carousel-wrap {
        margin-left: 50vh;
        margin-top: 0;
    }

    .carousel-item {
        width: 28vw;
        height: 60vh;
        padding: 3rem;
    }

    .carousel-item.active .item-title,
    .carousel-item.active .item-subtitle{
        opacity: 1;
    }

}

/*游댲05 - VIDEO A PANTALLA COMPLETA */

.cinco {
    color: var(--color-3);
}

.video-wp {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../src/media/noise.66962f.png) repeat;
    opacity: 0.5; 
    z-index: 2; /* Por encima del video */
    pointer-events: none; /* Para que el ruido no interfiera con interacciones */
}

.text-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    align-self: center;
    top: 35%;
    z-index: 6; /* Por encima del video y del ruido */
    text-align: center;
}

.enfocate {
    font-size: 6rem; 
    font-weight: normal;
    font-family: 'Instrument Serif', sans-serif;
    margin: 0;

    filter: blur(15px); /* Inicialmente desenfocado */
}

.text-overlay .section-content {
    width: 80vw;
}

@media (min-width: 768px) {
    .text-overlay {
        top: 30%;
    }

    .enfocate {
        font-size: 10rem; 
    }
}

@media (min-width: 1024px) {
    .text-overlay {
        top: 23%;
    }

    .enfocate {
        font-size: 14rem; 
    }

    .text-overlay .section-content {
        width: 60vw;
    }
}

/*游댲 06 */

.seis .text-overlay p:first-child {
    font-size: 6rem; 
    font-family: 'Instrument Serif', sans-serif;
    font-weight: normal;
    margin: 0;
}

.breath {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.breath .circle {
    position: absolute;
    width: 0px; /* Comienza como un punto peque침o */
    height: 0px;
    border-radius: 50%;
    background: rgba(212, 216, 208, 0.3); 
    opacity: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .seis .text-overlay p:first-child {
        font-size: 10rem; 
    }

}

@media (min-width: 1024px) {
    .seis .text-overlay p:first-child {
        font-size: 14rem; 
    }

}

/*游댲07 */

.siete .section-content {
    width: 80vw;
}

.help-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    top: 85%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
    border: 1px solid var(--color-2);   
}

.help-item.grad {
    background: radial-gradient(circle, var(--color-2) 0%, transparent 80%);
    border: none; 
}

@media (min-width: 768px) {
    .help-item {
        top: 75%; 
        left: 75%;  
    }
}

@media (min-width: 1024px) {
    .siete .section-content {
        width: 50vw;
    }

    .help-item {
        width: 25vw;
        height: 25vw;
        top: 65%; 
        left: 75%;  
    }
}

/*游댲08 */

.ocho {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ocho p {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.ocho p:nth-child(2) {
    font-size: 4.3rem; /* Tama침o inicial grande */
    font-weight: normal;
    color: var(--color-1);
    font-family: 'Instrument Serif', sans-serif;
}

.ocho p:nth-child(3) {
    opacity: 0; /* El 칰ltimo p치rrafo comienza invisible */
    color: var(--color-1);
}

@media (min-width: 768px) {
    .ocho p:nth-child(2) {
        font-size: 14rem; /* Tama침o inicial grande */
    }

    .ocho p:nth-child(3) {
        font-size: 3rem;
        font-weight: 100;
    }
}

@media (min-width: 1024px) {
    .ocho p:nth-child(3) {
        font-size: 4rem;
    }
}

/*游댲FINAL */

.fin {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fin p {
    width: 80vw;
    padding-bottom: 1rem;
}

.volver-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /*overflow: hidden; */
    border: 1px solid var(--color-1);
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    color: var(--color-1);
}
.volver-btn .emoji {
    position: absolute;
    top: -15%;
    font-size: 50px; /* Tama침o del emoji */
    display: inline-block;
    
    transition: opacity 0.3s ease; /* Suavidad al ocultar */
  
    opacity: 1; /* Oculto inicialmente */
}

.volver-btn .texto {
    position: absolute;
    top: 28%;
    right: 25%;

    opacity: 0; /* Oculto inicialmente */
    white-space: nowrap; /* Mantiene el texto en una l칤nea */
    display: inline-block;

    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}



@media (min-width: 768px) {
    .fin p {
        width: 60vw;
    }

    .volver-btn:hover {
        background-color: var(--color-1);
        color: var(--color-3);
    
        transition: all 0.8s ease;
    }
}

